# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://user:password@cluster0.xxxx.mongodb.net/parcare?retryWrites=true&w=majority

# Generează cu: openssl rand -base64 32
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3002
